* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 50px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.background-image {
  background-image: url(https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg);
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  filter: blur(10px);   /* IMPORTANT */
}

h1 {
  color: gray;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serifs;
  font-size: 40px;
}

p {
  color: grey;
  flex-wrap: wrap;
  text-align: center;
  font-size: 20px;
  padding: 10px 20px;
}


form {
  border: 1px solid black;
  background-color: rgba(0, 0, 0, 0.9);    /* IMPORTANT */
  padding: 20px;
  color: #fff;
  border-radius: 5px;
  width: 500px;
  z-index: 1;
}

fieldset {
  border: none;
  margin-bottom: 25px;
}

/* FIRST FIELDSET */
label {
  display: block;
  margin-bottom: 5px;
}

input {
  border: 2px solid #fff;
  border-radius: 3px;
  margin-bottom: 10px;
  padding: 2px;
}




/* SECONG FIELDSET */
#feature {
  display: block;

  option {
    margin: 20px;
    align-content: center;
  }
}



/* THIRD FIELDET */
.option {
  display: flex;
  justify-content: space-between;
  padding: 10px 56px 2px 16px;
}



/* FOURTH FIELFSET */
.feature {
  display: flex;
  justify-content: space-between;
  padding: 12px 20px 2px 15px;
}


/* LAST FIELDSET */
.textarea {
  display: flex;
  flex-direction: column;
  textarea {
    margin: 10px;
  }
}

.button {
  display: flex;
  justify-content: center;
}
button {
  background-color: #28a745;
  width: 80%;
  border-radius: 5px;
  border: 2px solid black;
  color: #fff;
  padding: 5px 0;
  border-radius: 5px;

}


/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body { 
  background-image: url(https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px;
  line-height: 35px;
}

form {
  background-color: #0a0a23;
  border: 2px solid white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}


fieldset {
  border: none;
}


label{
  display: block;
  margin-top: 1rem;
  text-align: left;
}

label, p, legend{
  color: #ffffff;
}

input, textarea, select {
  margin: 0.5em 0;
  padding: 0.4em;
  border-radius: 4px;
} */