* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --main-red: #be3144;
  --main-gray: #303841;
  --main-blue: #45567d;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: var(--main-red);
  z-index: 1000;
  /* box-shadow: 0 2px 5px rgba(0,0,0,0.2); */
}

.nav {
  max-width: 1200px;
  margin: 0  auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 1rem 2rem;
}

.nav-list {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.nav-list li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  /* transition: color 0.3s ease; */
}

.nav-list li a:hover {
  color: #eeeeee;
}

#welcome-section {
  background-color: var(--main-gray);
  height: 100vh;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  flex-direction: column;
  padding-top: 50px;
  /* color: white; */
}

.about {
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 1rem;
  /* height: 100%; */
  /* width: 100%; */
  /* display: flex; */
  /* padding: 10rem; */
  /* font-size: 50px; */
}

.profession {
  font-size: 1.5rem;
  font-style: italic;
  color: #be3144;
  font-family: 'Poppins', sans-serif;
  /* padding: 10rem; */
  /* top:50%; */
}

.about, .profession {
  text-align: center;
  width: 100%;
}

#projects {
  background-color: var(--main-blue);
  font-size: 4rem 1rem;
  text-align: center;
  /* font-style: italic; */
}

.project-header {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 2rem;
  color: white;
  /* text-align: center; */
  /* padding: 2rem; */
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  padding: 0 1rem 3rem;
  max-width: 1200px;
  margin: 0 auto;
}

.project-image {
  width: 100%;
}

.project-tile {
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  text-decoration: none;
  /* text-align: center; */
  /* color: black; */
}

.project-title, .project {
  width: 100%;
} 

.project-title {
  padding: 1rem;
  font-size: 1.2rem; 
}

.code {
  color: var(--main-gray);
}

#contact {
  background-color: var(--main-gray);
}

.contact-header {
  text-align: center;
  padding: 4rem 1rem 2rem;
  color: white;
}

.contact-header, .h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.contact-header, .p {
  font-size: 1.2rem;
  font-style: italic;
}

.contact-link {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: center;
  gap: 1.5rem;
  padding: 2rem;
}

.contact-detais, .i {
  font-size: 2rem;
  color: white;
}

footer {
  border-top: 2px solid #e74c3c;
  background-color: var(--main-gray);
  font-size: 1rem;
  color: #ffffff;
  align-items: center;
}

@media (max-width: 600px) {
  h1 {
    font-size: 1.8rem;
    text-align: center;
  }

  nav {
    flex-direction: column;
    align-items: center;
  }
}