/* https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_cascade */

.box {
    /* BORDER */
    /*  border-width: 3px;
        border-style: solid;
        border-color: #fff; */
    border: 3px solid #fff;     /*width-style-color*/
    /* BACKGROUND */
    /*  background-color: #fff;
        background-image: URL(img.png);
        background-repeat: no-repeat;
        background-position: right top; */
    background: #fff URL(img.png) no-repeat right top;
    /*color-image-repeat-position*/


    /* MARGIN */
    /*  margin-top: 20px;
        margin-right: 5px;
        margin-bottom: 20px;
        margin-left: 8px; */
    margin: 20px 5px 20px 8px;
    /*top-right-bottom-left*/


    /* PADDING */
    /*  padding-top: 1em;
        padding-right: 3px;
        padding-bottom: 30px;
        padding-left: 5px; */
    padding: 1em 3px 38px 5px;
    /*top-right-bottom-left*/

    /* font */
    /*  font-style: italic;
        font-weight: bold;
        font-size: 15px;
        line-height: 1.2;
        font-family: Arial, sans-serif; */
    font: italic bold 15px/1.2 Arial, sans-serif;
    /*style-weight-size/height-family*/


    /* FLEX */
    /*  flex-grow: 2;
        flex-shrink: 1;
        flex-basis: 100px; */
    flex: 2 1 100px;
    /*grow-shrink-basis*/
}


/* notes */
/* flex: 1 equates to: flex-grow: 1, flex-shrink: 1, flex-basis: 0. */

/* Very often you see the flex shorthand defined with only one value. In that case, that value is applied to flex-grow. So when we put flex: 1 on our divs, we were actually specifying a shorthand of flex: 1 1 0. */


/* SOME MORE CSS PROPERTIES */
/* letter spacing */
/* object fit */
/* cursor */
/* user select */
/* box sizing */