@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #666;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}


/* SOLUTION */
body {
  display:  flex;
  flex-direction: column;
}

button {
   padding: 8px 16px;
}

.content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 18px;
}

a {                               /* mai ul pe changes kar rha tha */
  color: #666;   
  text-decoration: none;
}

.header, .footer {
  display: flex;
  justify-content: space-between;
  padding: 16px;
}

.footer {
  background: #eee;
}

ul {
  list-style-type: none;                /* mai a me dal rha tha */
  display: flex;
  margin: 0;
  padding: 0;
  gap: 16px;
}